
.row {max-width: 118em;}
table {width: 100%;}
table tr th, table tr td {padding: 0.1em; font-size: 0.7em; line-height: 0.8em; text-align: center;}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {padding: 0.5em 0.2em; font-size: 0.7em; text-align: center;}
.td-uri {max-width: 10em; overflow: hidden;}
.td-uri-long {max-width: 20em; overflow: hidden;}

table.tablesorter {font-size: 100% !important;}

table.main-stats {}
table.main-stats tr th, table.main-stats tr td {text-align: left; font-size: 0.9em; padding: 0.3em;}

.copyright {float: right; text-align: right; margin-top: 10px;}